@import url("https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
:root {
  --lead: #212121;
  --gold-finger: #f2bd12;
  --eye-ball: #fffdf7;
  --hint-yellow: #fcf1cc;
  --pure-white: #fff;
}
body {
  background-color: var(--eye-ball);
}

a {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--lead);
}
.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
li {
  list-style: none;
}

.between {
  justify-content: space-between;
}

.gap-3 {
  gap: 3rem;
}
.gap-2 {
  gap: 2rem;
}

.wrapper {
  max-width: 1800px;

  margin: auto;
  padding-inline: 1.5rem;
}
img{
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}
.p-top{
  padding-top: 10rem;
}
.text-center{
  text-align: center;
}
.mt-4{
  margin-top: 4rem;
}
.mt-half{
  margin-top: .5rem;
}
.m-auto{
  margin: auto;
}
.mt-one-half{
  margin-top: 1.5rem;
}


/* header styling */

.navbar {
  min-height: 14vh;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--gold-finger);
}
.btn {
  display: inline-block;
  padding: 0.9rem 2rem;
  background-color: var(--gold-finger);
  border-radius: 1rem;
  font-size: 1.1rem;
  color: var(--pure-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  background-color: var(--lead);
}
.cart-icon {
  font-size: 1.3rem;
  position: relative;
}
.cart-icon .cart-value {
  position: absolute;
  top: 50%;
  right: -10px;
  font: 0.85rem;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 100vw;
  background-color: var(--gold-finger);
  color: var(--lead);
  text-align: center;
  line-height: 20px;
}
.desktop-action .hamburger {
  font-size: 1.5rem;
  display: none;
}
.mobile-menu {
  display: none;
}




/* section styling */
.hero-section {
 
  min-height: calc(100vh - 15vh);
}
.content,
.image-container,
.service-card{
  flex: 1;
  flex-basis: 400px;
}
h1{
  font-size:5.7vw ;
  color: var(--lead);
}
h1 span{
color: var(--gold-finger);
}
p{
  font-size:1.35rem ;
  color: gray;
  line-height: 1.8rem;
  font-weight: 400;
}
.para{
  margin-block: 2rem;
  max-width:560px ;
}
.social-icons{
  background-color: var(--hint-yellow);
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  font-size: 1.2rem;
  text-align: center;
  line-height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
  transition: .3s ease-in-out;
}

.social-icons:hover{
background-color: var(--lead);
color: var(--pure-white);
}
/* section 01 */

h5{
  font-size: 1.2rem;
  letter-spacing: .2rem;
  color: var(--gold-finger);
  text-transform: uppercase;
}
h2{
  font-size: 3.7rem;
  text-transform: capitalize;
  color: var(--lead);
}
h3{
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--lead);
}
.service-card h3{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* section 02 */

.order-card{
  flex: 1;
  flex-basis: 400px;
  background-color: var(--pure-white);
  padding: 0 1rem 2rem 1rem;
  border: 0.1rem solid var(--gold-finger);
    border-radius: 2rem;
    box-shadow:
      rgba(0, 0, 0, 0.2) 8px 8px 8px,
      rgba(0, 0, 0, 0.2) 8px 8px 8px inset;
}
.order-card img{
width: 15rem;
filter: drop-shadow(
  rgba(0, 0, 0, 0.2) 0 10px 10px
);
}
h4{
  font-size:1.9rem ;
  color: var(--lead);
}
.order-card .price{
font-size: 1.8rem;
color: var(--gold-finger);
padding: 1.3rem 0 2rem 0;
}
/* cart tab styling */
.cart-tab{
  background-color: var(--hint-yellow);
  position: fixed;
  inset: 0 -500px 0 auto;
  width: 28rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  box-shadow: 
  rgba(0, 0, 0, 0.2) -10px -10px 20px;
  transition: .4s ease-in-out;
}
.cart-tab-active{
  inset: 0 0 0 auto;

}
.cart-list{
  flex: 1;
  width: 100%;
  margin-top: 1.5rem;
  overflow: auto;
}
.cart-list::-webkit-scrollbar{
width: 0;
}


.total-container{
  width: 100%;
  background-color: var(--gold-finger);
  text-align: center;
  margin-block: 1rem;
  padding-block: 1rem;
}
.total-container h4{
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
}
.btn-container .btn{
background-color: var(--lead);
transition: .3s ease-in-out;
}
.btn-container .btn:hover{
 background-color: var(--gold-finger);
 color: var(--lead);
}


.item{
  display: flex;
  align-items: center;
 gap: .8rem;
  padding: .7rem 1rem;
  transition: all .5s ease-in-out;
}
.item.slide-out{
  transform: translateX(50%);
  
}
.cart-list .item:nth-child(even){
background-color: var(--eye-ball);

}
.item .detail{
  flex: 2;
}
.item .item-image img{
  width: 6rem;
}
.item h4{
  font-size: 1.4rem;
  color: var(--lead);
}


.item .item-total{
  font-weight: 400;
  margin-top: .3rem;
}
.quantity-btn{
  background-color: var(--lead);
  color: var(--pure-white);
  width: 1.7rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  text-align: center;
  line-height: 1.7rem;
}
.quantity-value{
  font-size: 1.2rem;
  font-weight: 400;
  margin-inline: 0.6rem;
}



/* section 03 */

.review-container{
  width: 800px;
  max-width: 100%;
  flex: 1;
}
 .swiper {
        width: 100%;
        height: 100%;
      }
      .profile{
        width: 4rem;
        aspect-ratio: 1;
        border-radius: 10vw;
        overflow: hidden;
      }
      .profile img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .fa-star{
        color: var(--gold-finger);
      }
      .arrow{
        width: 2.5rem;
        aspect-ratio: 1;
        border-radius: 100vw;
        background-color: var(--gold-finger);
        color: var(--lead);
        text-align: center;
        line-height: 2.5rem;
      }

      /* section 04 */
     .app-container{
      background-color: var(--hint-yellow);
      padding: 3rem 6rem;
      border-radius: 3rem;
       
     }
     .app-container .content h2{
      font-size: 4.9rem;
     }
     
     .app-container .image-container img{
      width: 29rem;
     
     }



/* section 05 */
.input-container{
  width: 44rem;
  max-width: 100%;
  background-color: var(--pure-white);
  padding: .8rem;
  box-shadow: 
  rgba(0, 0, 0, 0.1) 0 5px 8px;
  border-radius: 1rem;
  margin: 4rem auto 0 auto;
}
input[type="email"]{
  flex: 1;
  height: 7vh;
  background: transparent;
  border: none;
  font-size: 1.1rem;
  padding-left: 1rem;
}
input[type="email"]:focus{
  outline: none;
}



/* footer styling */

.footer-container{
  margin-top: 10rem;
  padding-block: 4rem;
  background-color: var(--hint-yellow);
}

.footer-container .flex{
  align-items: flex-start;
}
.footer-wrapper{
  flex: 1;
  flex-basis: 200px;
}
.footer-wrapper:nth-child(1){
  flex: 2;
  flex-basis: 400px;
}

.footer-wrapper .social-icons{
  background-color: var(--pure-white);
}
.footer-wrapper .social-icons:hover{
  background-color: var(--lead);
  color: var(--pure-white);
}
.footer-link{
  color: gray;
  font-size: 1.1rem;
  transition: .3s ease-in-out;
}
.footer-link:hover{
  color: var(--lead);
}

/* media queries */
@media screen and (max-width: 860px) {
  /* header styling */
  .navlist,
  .desktop-action .btn {
    display: none;
  }
  .desktop-action .hamburger {
    display: block;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 20%;
    left: -100%;
    transform: translateX(-50%);
    width: 20rem;
    padding: 2rem;
    background-color: var(--pure-white);
    border: 0.1rem solid var(--gold-finger);
    border-radius: 2rem;
    box-shadow:
      rgba(0, 0, 0, 0.2) 8px 8px 8px,
      rgba(0, 0, 0, 0.2) 8px 8px 8px inset;
    transition: all 0.5s ease-in-out;
  }
  .mobile-menu-active {
    left: 50%;
    transform: translateX(-50%);
  }
  /* sections styling */
  h1{
    font-size: 3.7rem;
  }
  .content{
    padding-top: 3rem;
  }
  .gap-2{
    gap: .5rem;
  }
  .gap-4{
    gap: 4rem;
  }
  /* section 01 */
  h2{
    font-size: 3rem;
  }
  /* section 04 */
  .app-container{
    padding: 2.2rem;
  }
     .app-container .content h2{
      font-size: 3.5rem;
     }
}
